---
import "../styles/carousel.css";
import Layout from "../layouts/Layout.astro";
import { experience, skills, habilitiesCarousel } from "./data";
import Recommendations from "../../public/recommendations.json";
import CardRecomendations from "../components/CardRecomendations.astro";
import CardExperience from "../components/CardExperience.astro";
import Contact from "../components/Contact.astro";
import CardProject from "../components/CardProject.astro";
import { dataProjects } from './data'
---

<Layout>
	<section class="space-y-20 sm:space-y-40 md:mt-40 pb-5">
		<section id="init">
			<h1 class="fade-in h1-extra-responsive text-4xl sm:text-5xl md:text-6xl lg:text-[78px]">
				MÁS QUE CÓDIGO: ESTRATEGIA, ESCALABILIDAD, LIDERAZGO
			</h1>
		</section>

		<section
			id="about-me"
			class="flex flex-col lg:flex-row justify-between w-full gap-y-8 gap-x-5"
		>
			<div
				class="fade-in sm:slide-right w-full flex flex-col justify-center items-start"
			>
				<div
					class="flex flex-col items-end space-x-4 md:space-x-5 lg:space-x-7"
				>
					<div class="flex flex-row items-end">
						<h2 class="text-5xl md:text-6xl lg:text-7xl">JHON</h2>
						<p
							class="text-[8px] md:text-[10px] lg:text-xs mb-2 mx-2"
						>
							DESARROLLADOR Y LÍDER FRONTEND
						</p>
					</div>
					<h2 class="text-5xl md:text-6xl lg:text-7xl">RIVERO</h2>
				</div>
			</div>

			<div class="fade-in sm:slide-left w-full space-y-5">
				<p class="text-sm sm:text-base">
					Frontend semisenior con más de 2 años de experiencia liderando equipos y desarrollando
					interfaces web escalables con Svelte, Astro, React y Vue. Con enfoque en arquitectura,
					SSR/CSR, diseño accesible, testing automatizado, y conocimientos en backend con Node.js y Java.
				</p>
				<p class="text-sm sm:text-base">
					Como líder, promuevo la adopción de buenas prácticas, la mentoría técnica y
					la toma de decisiones alineadas al negocio. Estoy comprometido con el aprendizaje continuo
					y la incorporación de tecnologías innovadoras.
				</p>
			</div>
		</section>

		<section>
			<div class="carousel-container">
				<div class="carousel-track">
					{
						[...habilitiesCarousel, ...habilitiesCarousel].map(
							(item) => (
								<div class="carousel-item text-center flex flex-col items-center justify-end space-y-4 opacity-50 hover:opacity-80 transition hover:scale-110 duration-500">
									<div class="w-20 h-20">
										<item.icon />
									</div>
									<span class="text-sm">{item.text}</span>
								</div>
							),
						)
					}
				</div>
			</div>
		</section>

		<section id="habilities">
			<div class="slide-left w-full space-y-5">
				<p>HABILIDADES</p>

				<div class="grid md:grid-cols-2 gap-y-5 gap-x-12">
					{
						skills.map((item, index) => (
							<div
								class={`flex flex-row items-center gap-2 ${index % 2 === 1 ? "md:order-none order-1" : "order-0"}`}
							>
								<div>
									<item.icon />
								</div>
								<span class="text-sm sm:text-base">
									{item.text}
								</span>
							</div>
						))
					}
				</div>
			</div>
		</section>

		<section id="experience">
			<div class="slide-left w-full space-y-5">
				<p class="pb-2">EXPERIENCIA</p>

				<div class="grid md:grid-cols-2 justify-center gap-10">
					{
						experience.map((item) => (
							<CardExperience
								image={item.image}
								name={item.name}
								jobposition={item.jobposition}
								date={item.date}
								description1={item.description1}
								description2={item.description2}
							/>
						))
					}
				</div>
			</div>
		</section>

		<section id="projects">
			<div class="slide-left w-full space-y-5">
				<p class="pb-2">PROYECTOS PERSONALES</p>

				<div class="grid grid-cols-1 md:grid-cols-2 justify-center gap-10">
					{
						dataProjects.map((item) => (
							<CardProject
								image={item.image}
								name={item.name}
								description={item.description}
								stack={item.stack}
								role={item.role}
								github={item.github}
								url={item.page}
							/>
						))
					}
				</div>
				<a
					href="https://github.com/JhonRiv21"
					target="_blank"
					class="flex flex-row items-center justify-end gap-1 text-xs hover:underline transition duration-700"
				>
					VER MÁS PROYECTOS
					<span>
						<svg
							xmlns="http://www.w3.org/2000/svg"
							width="20"
							height="20"
							viewBox="0 0 24 24"
						>
							<path
								fill="#ffffff"
								d="M6.189 17.289L5.5 16.6L15.58 6.5H6.289v-1h11v11h-1V7.208z"
							></path>
						</svg>
					</span>
				</a>
			</div>
		</section>

		<section id="recomendations">
			<div class="fade-in w-full space-y-5">
				<div class="flex flex-wrap gap-y-2 gap-x-4 justify-between w-full items-center">
					<p class="pb-2">RECOMENDACIONES</p>
					<button id="pauseBtn" class="pause-btn cursor-pointer text-xs ml-auto">⏸ Pausar</button>
				</div>

				<div class="carousel-container-recomendations">
					<div class="carousel-track-recomendations">
						{
							[...Recommendations, ...Recommendations]
								.filter((item) => item.author !== "Desconocido")
								.map((item) => (
									<CardRecomendations
										author={item.author}
										photo={item.photo}
										position={item.position}
										date={item.date}
										text={item.text}
									/>
								))
						}
					</div>
				</div>
				<a
					href="https://www.linkedin.com/in/jhonrivero/details/recommendations/"
					target="_blank"
					class="flex flex-row items-center justify-end gap-1 text-xs hover:underline transition duration-700"
				>
					VER TODOS
					<span>
						<svg
							xmlns="http://www.w3.org/2000/svg"
							width="20"
							height="20"
							viewBox="0 0 24 24"
						>
							<path
								fill="#ffffff"
								d="M6.189 17.289L5.5 16.6L15.58 6.5H6.289v-1h11v11h-1V7.208z"
							></path>
						</svg>
					</span>
				</a>
			</div>
		</section>

		<section id="contact">
			<Contact />
		</section>
	</section>
</Layout>