---
  import { Image } from "astro:assets";
  const { image, name, jobposition, date, description1, description2 } = Astro.props;
---

<div class="relative">
  <div class="absolute top-[-10px] right-[-10px] w-full h-full bg-[#F5F5F5] rounded-2xl" />
  <div class="w-full p-5 bg-[#1F2430] rounded-2xl relative border-2 border-white h-full min-h-[350px]">
    <div class="flex flex-col h-full items-center justify-center space-y-8">
      <div class="flex flex-col gap-5 justify-center items-center lg:flex-row lg:justify-around w-full">
        <Image
          src={image}
          alt={name}
          class="w-full max-w-40"
          loading="lazy"
        />
        <div class="text-center">
          <p class="text-md lg:text-xl">
            {name}
          </p>
          <p class="text-sm">
            {jobposition}
          </p>
          <p class="text-xs opacity-60 pt-1">
            {date}
          </p>
        </div>
      </div>
      <div class="flex flex-col items-center mx-auto justify-center gap-5">
        <p class="text-xs md:text-sm">
          {description1}
        </p>
        <p class="text-xs md:text-sm">
          {description2}
        </p>
      </div>
    </div>
  </div>
</div>